@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: theme("fontFamily.sans");
  background: theme("colors.hivemind.bg");
  color: theme("colors.hivemind.fg");
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}
